{% extends "layout.html" %}


{% block body %}
<div class="container">
  <div class="row">
    <br>
    <img class="center-block img" alt="Responsive image" src="static/images/logo.png"> </img>
  </div>
  <div class="row">
    <p class="text-primary text-center">خبر‌ها را خلاصه کنید!(نسخه آزمایشی)</p>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form role="form">
        <div class="col-xs-1">
          <button type="submit" id="send" class="btn btn-primary btn-lg">نمایش خلاصه</button>
        </div>
        <div class="col-xs-11">
          <input type="text" id="input" class="form-control input-lg" placeholder="آدرس خبر را وارد کنید">
        </div>
      </form>
    </div>
  </div>
  <div class="row"> 
    <div class="col-xs-3">
      <br>
      <br>
      <p class="bg-success" id="tags">

      </p>

    </div>
    <div class="col-xs-9">
      <h3 id="title">

      </h3>
      <p class="bg-info" id="result">

      </p>
    </div>
  </div>
</div>
{% endblock %}