<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="utf-8">
    <title>موجز</title>
    <!-- Bootstap -->
    <link href="/static/css/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- CSS -->
    <link href="/static/css/index.css" rel="stylesheet">
    <!-- Fav icon -->
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <!-- Zepto -->
    <script src="/static/js/libs/zepto/zepto.js"></script>
    <!-- JavaScript -->
    <script src="/static/js/index.js"></script>
  </head>

  <body>
    {% block body %}

    {% endblock %}
    <!-- JQuery -->
    <!-- <script src="static/js/libs/jquery/jquery.min.js"></script> -->
    <!-- Bootstarp -->
    <!-- <script src="static/js/libs/bootstarp/bootstrap.min.js"></script> -->
    <!-- Zepto -->

    <div class="footer">
      <p class="text-muted" style="margin-left: 20px;">
      ماجَرا را، <a href="">موجِز</a> و کوتاهْ کُن!
      </p>
    </div>
  </kbody>
</html>